{
  "wifi": {
    "ssid": "YOUR_WIFI_SSID",
    "password": "YOUR_WIFI_PASSWORD",
    "security": "WPA"
  },
  "dpc": {
    "component": "jp.factoryreset.adbdpc/.AdbDeviceAdminReceiver",
    "download_url": "https://github.com/hriaokarev/android-factory-reset-qr/releases/download/v1.0.1/adbdpc.apk",
    "signature_checksum": ""
  }
}
